@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h3> XÁC NHẬN QUÊN MẬT KHẨU</h3>
<hr class="soft" />

<div class="row">
    <div class="span9" style="min-height:900px">
        <div class="well">
            <h5>Hãy kiểm tra hộp thư email của bạn để khôi phục lại mật khẩu</h5><br />
            <p class="text-danger">
                For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
            </p>
        </div>
    </div>
</div>


